<div class="container-fluid">

  <div class="well" [formGroup]="form">
    <h2>Enter a zipcode:</h2>
    <input class="form-control" formControlName="zipcode" placeholder="Zipcode" type="text" id="addLocation">
    <br>
    <button class="btn btn-primary" id="addLocationBtn" (click)="addZipcode()" [disabled]="!isValid">
      Add location
    </button>
  </div>

  <div *ngFor="let zipcode of zipcodes">
    <app-location [zipcode]="zipcode"></app-location>
  </div>

  <app-location></app-location>
</div>